<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear actividad</title>
</head>
<body>
    <h1>Crear actividad</h1>
    <form method="post">{% csrf_token %}
        <p>
            Ingrese nombre de la actividad
            <input type="text" name="nombre_actividad">
        </p>
        <input type="submit" value="Crear">
    </form>

</body>
</html>